<nav class="navbar navbar-expand-lg my-color navbar-dark sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/products" tabindex="-1" >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/notes" tabindex="-1" >Notes</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item mb-3 mb-lg-0 me-3">
              <a class="btn btn-info " routerLink="/login2" tabindex="-1" >Ractive Login</a>
            </li>
            <li class="nav-item ">
              <a class="btn btn-info mb-3 mb-lg-0 me-3 " routerLink="/register2" tabindex="-1" >Reactive Register</a>
            </li>
            <li class="nav-item mb-3 mb-lg-0 me-3">
              <a class="btn btn-info " routerLink="/login" tabindex="-1" >Login</a>
            </li>
            <li class="nav-item ">
              <a class="btn btn-info " routerLink="/register" tabindex="-1" >Register</a>
            </li>
          </ul>
        
        </div>
      </div>
    </div>
  </nav>
